<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Forms</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Name 1:</label><br>
        <input type="text" name="name1">
        <br>
        <input type="submit" name="form1">
    </form>

    <form action="" method="post">
        {% csrf_token %}
        <label for="">Name 2:</label><br>
        <input type="text" name="name2">
        <br>
        <input type="submit" name="form2">
    </form>
</body>

</html>